@import url("https://fonts.cdnfonts.com/css/miama");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* universal style */
* {
  margin: 0;
  padding: 0;
}
.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}

/* shared style */
.hidden {
  display: none;
}
.text-2 {
  color: rgba(255, 255, 255, 0.5);
}
.btn {
  color: #ffffff;
  font-size: 1.125rem;
  border-radius: 42px;
  height: 54px;
  width: 224px;
}
.btn-primary {
  background-color: #e6533c;
  border: none;
}
.btn-secondary {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgb(255, 255, 255);
}
.text-center {
  text-align: center;
}
.habits-container,
.extra-mile-container,
.team-container,
.calculator,
.app-container {
  display: flex;
  align-items: center;
}
/* header style */
header,
footer,
.calculator {
  background: #222222;
}
header > div,
.habits-container,
.team-container,
footer {
  padding: 100px 13% 0;
}
header > div {
  background: linear-gradient(
    360deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
}

/* navbar style */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 55px;
}
.nav-title {
  color: #e6533c;
  font-size: 2.25rem;
  font-weight: 800;
  text-decoration: none;
}
.nav-links {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 4px;
}
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 47px;
}
.nav-links > li:first-child {
  padding: 8px 20px;
  background-color: #e6533c;
  border-radius: 46px;
}
.nav-links > li:last-child {
  margin-right: 24px;
}
.nav-links a {
  text-decoration: none;
  font-size: 1.125rem;
  color: #ffffff;
}

/* header-content style */
.hero {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 87px;
}
.header-content {
  max-width: 520px;
}
.header-title {
  font-size: 4.875rem;
  font-weight: 900;
  line-height: 120%;
}
#miama {
  font-family: "Miama", sans-serif;
  font-size: 9.875rem;
  font-weight: 400;
}
.header-desc {
  margin: 28px 0;
}
.btn-container {
  display: flex;
  gap: 20px;
}
.header-img img {
  width: 100%;
}
.header-img {
  position: relative;
}
.header-card-1 {
  position: absolute;
  top: 100px;
  right: -40px;
}
.header-card-2 {
  position: absolute;
  bottom: 80px;
  left: -80px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.header-card-1,
.header-card-2 {
  padding: 17px 24px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
}
.header-card-1 h2 {
  font-size: 2.5rem;
  font-weight: 900;
}
.header-card-2 h2 {
  font-size: 1.5rem;
  color: #fafaf9;
}
.header-card-1 p,
.header-card-2 p {
  font-size: 0.8125rem;
  color: rgba(255, 255, 255, 0.65);
}
.card-circle {
  background-color: #e6533c;
  border-radius: 50%;
}
.card-circle i {
  padding: 18px 20px;
}

/* main related style */
main {
  background: rgb(0, 0, 0);
}
/* Change Your Habits */
.habits-container {
  flex-direction: column;
  gap: 58px;
}
.section-title {
  font-size: 3rem;
  font-weight: 900;
}
.section-desc {
  max-width: 670px;
  margin-top: 14px;
}
.habits {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.habit {
  width: 230px;
}
.habit img {
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.1);
}
.habit h5 {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 30px 0 6px;
}
.habit p {
  font-size: 0.875rem;
}
/* Run an Extra  Mile Easily */
.extra-mile-container {
  margin: 100px 13% 0;
  background-color: #222222;
  padding: 30px;
  border-radius: 18px;
  gap: 165px;
  justify-content: center;
}

.extra-mile > .section-desc {
  margin-bottom: 34px;
}
.extra-mile-img {
  width: 366px;
}
.extra-mile-img img {
  width: 100%;
}

/* Calculator */
.calculator-container {
  margin-top: 100px;
}
.calculator-container .section-desc {
  margin: 14px auto 88px;
}
.calculator {
  justify-content: space-between;
  padding: 52px 13%;
}
.chart-bmi > .col-title {
  margin-bottom: 50px;
}
table {
  border-collapse: collapse;
}
table tr > th,
td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 13px 18px;
}
td {
  color: rgba(255, 255, 255, 0.5);
}
.your-bmi .col-desc {
  margin: 14px 0 34px;
}
.your-bmi form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}
.your-bmi form input,
select {
  padding: 0.813rem 0.625rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: #fafaf9;
}
.your-bmi form select > option {
  background-color: #222222;
}
.your-bmi form select:nth-last-child(2) {
  grid-column: span 2;
}
.your-bmi form input:last-child {
  background-color: #e6533c;
  border-radius: 42px;
}

/* app section */
.app-container {
  margin: 88px 0;
  justify-content: space-evenly;
  align-items: center;
}
.app-container .section-desc {
  margin: 20px 0;
}
.app-container img {
  transform: scale(1.5);
  transition: 1s ease-in-out;
}
.app-container img:hover {
  transform: scale(2) rotate(5deg);
}
/* Meet Our Team  */
.team-container {
  flex-direction: column;
  padding-bottom: 88px;
}
.our-team > .section-desc {
  margin-bottom: 58px;
}
.team-members {
  background-color: #222222;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  border-radius: 18px;
}
.team-member {
  width: 326px;
  height: 272px;
  border-radius: 18px;
  position: relative;
}
.member-details {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.member-1 {
  background-image: url(../images/trainer1.png);
  background-position: center;
  background-size: cover;
}
.member-2 {
  background-image: url(../images/trainer2.png);
  background-position: center;
  background-size: cover;
}
.member-3 {
  background-image: url(../images/trainer3.png);
  background-position: center;
  background-size: cover;
}
.member-4 {
  background-image: url(../images/trainer4.png);
  background-position: center;
  background-size: cover;
}
.member-5 {
  background-image: url(../images/trainer5.png);
  background-position: center;
  background-size: cover;
}
.member-6 {
  background-image: url(../images/trainer6.png);
  background-position: center;
  background-size: cover;
}
/* footer style  */
.footer {
  display: flex;
  gap: 120px;
  padding: 66px 0 80px;
  justify-content: space-between;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.footer-col:first-child {
  max-width: 443px;
}
.footer-title {
  color: #e6533c;
  font-size: 4.375rem;
  font-weight: 800;
  margin-bottom: 20px;
}
.col-title {
  font-size: 2rem;
  font-weight: 700;
}
.footer-link {
  margin-top: 20px;
}
.footer-link li {
  list-style: none;
  margin-top: 20px;
}
.footer-link a {
  text-decoration: none;
  margin-top: 20px;
  font-size: 1.4375rem;
}
.copy-write {
  font-size: 1.25rem;
  padding: 36px 0;
}
@media screen and (max-width: 576px) {
  header > div,
  .habits-container,
  .team-container,
  footer {
    padding: 0 20px;
  }
  .hero,
  .habits,
  .extra-mile-container,
  .calculator,
  .footer,
  .app-container {
    flex-direction: column;
  }
  /* header style */
  .nav-links {
    display: none;
  }
  .menu-bar {
    display: block;
    color: #ffffff;
  }
  .header-title {
    font-size: 2.25rem;
    width: 274px;
  }
  #miama {
    font-size: 4.25rem;
  }
  .header-desc {
    width: 274px;
  }
  .btn {
    width: 170px;
  }
  .header-card-1 {
    top: -50px;
    right: 0;
  }
  .header-card-2 {
    bottom: 250px;
    left: 0;
  }
  /* main related style */
  /* Change Your Habits */
  .habits-container,
  .team-container {
    padding-top: 20px;
  }
  .section-title {
    font-size: 2rem;
  }
  .habit {
    width: 230px;
  }
  .habit img {
    border-radius: 50%;
  }
  .habit h5 {
    font-size: 1.125rem;
    font-weight: 600;
    margin: 30px 0 6px;
  }
  .habit p {
    font-size: 0.875rem;
  }
  /* Run an Extra  Mile Easily */
  .extra-mile-container {
    margin-top: 66px;
    gap: 30px;
  }
  .extra-mile > .section-desc {
    margin-bottom: 24px;
  }
  .extra-mile > .btn {
    width: 100%;
  }
  .extra-mile-img {
    width: 287px;
  }

  /* Calculator */
  .calculator-container {
    margin-top: 30px;
  }
  .calculator-container .section-title,
  .section-desc {
    text-align: left;
    padding-left: 20px;
  }
  .calculator-container .section-desc {
    margin: 14px auto 32px;
  }
  .calculator {
    padding: 34px 20px;
    gap: 20px;
    align-items: flex-start;
  }
  .calculator .col-title {
    font-size: 1rem;
  }

  .your-bmi form input {
    width: calc(100% - 20px);
  }
  /* app section  */
  .app-container .section-desc {
    text-align: center;
  }
  .app-container {
    text-align: center;
    flex-direction: column-reverse;
  }
  .app-container img {
    transform: none;
  }
  /* Meet Our Team  */
  .team-container {
    padding-bottom: 20px;
  }
  .our-team > .section-desc {
    margin-bottom: 37px;
  }
  .team-members {
    grid-template-columns: repeat(1, 1fr);
  }

  /* footer style */
  .footer {
    gap: 30px;
  }
}
